
/* Estilos para el juego de la serpiente */
#randomNum {
    margin-top: 20px;
}

#dadoVisto {
    animation: spin 3s infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#pawns .col-2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cbcbcb;
}

i{
    cursor: pointer;
    font-size: 30px;
}

.fa-xl{
    cursor: pointer;
    font-size: 30px;
}

/* Estilos para centrar el mensaje de victoria */
#victoryMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3498db;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 999;
    display: none;
    color: #fff;
    font-family: Arial, sans-serif;
}

#victoryMessage p {
    font-size: 24px;
    margin: 0;
}

#victoryMessage button {
    background-color: #fff;
    color: #3498db;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#victoryMessage button:hover {
    background-color: #295f8f;
    color: #fff;
}

/* Estilos para el contenedor del dado fijo */
.dado {
    position: fixed;
    bottom: 55%; /* Ajusta la distancia desde la parte inferior */
    right: 20px;  /* Ajusta la distancia desde la derecha */
    z-index: 999; /* Ajusta el z-index para que esté por encima del contenido */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#dadoVisto {
    color: #333;
    font-size: 24px;
}

/* Tarjetas de juego */
.start {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 300px;
}

/* Modal de ejercicios */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.modal-body {
    background-color: #fff;
}

.modal-footer {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}
